<a href="https://colab.research.google.com/github/shivam003a/Machine-Learning/blob/main/Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling the missing data

In [1]:
import numpy as np
import pandas as pd

In [2]:
iris_df = pd.read_csv('/content/iris.csv')

data_frame = iris_df.copy()
data_frame.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
data_frame.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
data_frame.iloc[2:3,2:4] = np.nan
data_frame.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           NaN          NaN  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
data_frame.describe()
# petal.length and petal.width count is reduced to 149 due to NaN values

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    149.000000   149.000000
mean       5.843333     3.057333      3.774497     1.206040
std        0.828066     0.435866      1.759613     0.760354
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
# dropna to drop row with NaN value
data_frame.dropna(inplace = True)
data_frame.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa

In [10]:
data_frame.reset_index(drop=True, inplace = True)
data_frame.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.6          3.1           1.5          0.2  Setosa
3           5.0          3.6           1.4          0.2  Setosa
4           5.4          3.9           1.7          0.4  Setosa

In [11]:
data_frame.iloc[2:3,2:4] = np.nan
data_frame.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.6          3.1           NaN          NaN  Setosa
3           5.0          3.6           1.4          0.2  Setosa
4           5.4          3.9           1.7          0.4  Setosa